html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,del,em,img,ins,q,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,form,label,input,textarea,map,area,table,caption{margin:0;padding:0;outline:0;}
body{-webkit-text-size-adjust:none;/*禁用Webkit内核浏览器的文字大小调整功能。*/min-width:320px;font-family:arial,Verdana,'Microsoft YaHei',sans-serif;font-size:1em;color:#666666;border:none;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
li{list-style:none;}
:focus{outline:none;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,i,strong,th,var{font-style:normal;font-weight:normal}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
em,i{font-style:normal;}
img,img a,input{vertical-align:middle;}
del{text-decoration:line-through;}
img,img a,input{vertical-align:middle;}
del{text-decoration:line-through;}
/*上标和下标
sub,sup{font-size:75%;line-height:0;position:relative;}
sub{top:-0.5em;}
sup{bottom:-0.25em;}
*/
/* 定位 */
input[type="submit"]{-webkit-appearance: none; }/*iphone默认input圆角渐变样式  checkbox的默认样式也被清除*/
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;padding: 0;}
input[type="text"],input[type="password"],input[type="search"],input[type="button"]{-webkit-appearance:none;-webkit-tap-highlight-color:transparent;border:none;}
.clearfix:after{display:block;font-size:0;content:" ";clear:both;height:0;visibility:hidden;overflow:hidden;}
.clearfix{*zoom:1}
.clear{display:block;clear:both;height:0;line-height:0;font-size:0;overflow:hidden;}
.float-left{
  float:left;
}
.float-right{
  float:right;
} 
.tl{text-align:left;}.tc{text-align:center;}.tr{text-align:right;}
.fb{font-weight:bold;}.fn{font-weight:normal;}
.cl{clear:left;}.cr{clear:right;}.cb{clear:both;}
.cp{cursor:pointer;}
.vm{vertical-align:middle;}.vt{vertical-align:top;}
.pr{position:relative;}.pa{position:absolute;}.pf{position:fixed;}
.bc{margin-left:auto;margin-right:auto;}
.hide{display:none;}
.oh{overflow:hidden;}
.lho{text-indent:-9999px;overflow:hidden;}

/* 布局 flex */
.dis-flex{
  display:flex;
}
/* 纵向排列 */
.direction-column{
  flex-direction: column;
}
/* 居中对齐 */
.space-between{
  justify-content:space-between;
}
/* 两端对齐 */
.space-enter{
  justify-content:center;
}
/* 垂直集中 */
.align-center{
  align-items: center;
}
/* 盒子模型 */
.border-box{
  box-sizing:border-box;
}
/* 背景cover */
.bg-cover{
  background-size: cover;
}




